

professor_profile.professor_id
professor_profile.academic_title
professor_profile.name_surname
professor_profile.date_of_birth
professor_profile.bsc
professor_profile.bsc_grad_institute
professor_profile.bsc_year
professor_profile.msc
professor_profile.msc_grad_institute
professor_profile.msc_year
professor_profile.phd
professor_profile.phd_grad_institute
professor_profile.phd_year
professor_profile.phone
professor_profile.email
professor_profile.university
<!--professor_profile.responsible_program-->
<!--professor_profile.committee_profile-->