<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
       
    
        <title>Krai</title>
    
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
    
</head>



<div class="container">
    
        <br/>
        <br/>
        <!-- COMMITTEE LIST HEADER -->
        <div class="container border-warning bg-warning text-light">
           
            <br/>
            <h1>Committee List</h1>
            <br/>
        </div>
        
        <!-- NAVBAR -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border" name="TOP NAVBAR">
           
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="form-inline my-2 my-lg-0"> <!-- submit query -->
                    <input class="form-control mr-sm-2" name="faculty_name" type="search" placeholder="Search" aria-label="Search" value={{request.GET.faculty_name}}>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
    
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Year
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="2015">2015</a>
                            <a class="dropdown-item" href="2016">2016</a>
                            <a class="dropdown-item" href="2017">2017</a>
                            <a class="dropdown-item" href="2018">2018</a>
                            <a class="dropdown-item" href="2019">2019</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    
        <br/>

    
        <!-- COMMITTEE LIST -->
        <div class=bg-light>
            <ul class="list-group">
                {% for committee in committee_list %}
                    <a class="list-group-item list-group-item-light bg-light" href = "{% url 'committee_profile' committee.id %}"><h6>{{ committee.year}} : {{ committee.professor_id.name_surname}}</h6></a>
                {% endfor %}
            </ul>
        </div>

         <!-- CHANGE PAGE -->
        <div class="container border-warning bg-warning text-light text-center">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-secondary border-warning bg-warning" href="{% url 'all_committee' prev_page %}">back</a>
                <button type="button" class="btn btn-secondary border-warning bg-warning">{{current_page}}</button>
                <a class="btn btn-secondary border-warning bg-warning" href="{% url 'all_committee' next_page %}">next</a>
            </div>
            <br/>
        </div>
      
     
        
       
      
</div>