{% extends 'base.html' %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   

    <title>Krai</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


 
</head>

<main>


  
    <div class="container">

        <br/>
        <br/>
        <br/>
        
        <!-- TITLE -->
        <div class="text-light bg-warning border-warning container">
            <br/>
            <h3> {{ committee_detail.assessment_level }} : {{ committee_detail.professor_id.name_surname }} </h3>
            <br/>
        </div>

        <!-- EDIT -->    
        <form method="GET" action="{% url 'edit_committee_profile' committee_id %}">
            <button type="submit" class="btn btn-dark col-md-6">edit</button>
        </form>

        <!-- BASIC INFO -->
        <div class="container bg-light border">
            <br/>
            <h5>code: {{ committee_detail.code }}</h5>
            <h5>year: {{ committee_detail.year }}</h5>
            <h5>profession: {{ committee_detail.profession }}</h5>
            <br/>
            <a class= "btn btn-warning" href="{% url 'professor_profile' professor_profile %}">FULL PROFILE</a>
            <br/>
            <br/>
        </div>
        <br/>
        <br/>
        
         <!-- ASSESSMENT RESULT -->
        <div class="text-light bg-warning border border-warning container">
            <h4>Assessment Result ( {{ committee_detail.year }} )</h4>
        </div>
            
        <div class=bg-light>
            <ul class="list-group">
                {% for assessment in assessment_list %}
                    <a class="list-group-item list-group-item-light bg-light"  href = "{% url 'assessment_result' assessment.id %}">{{ assessment.program_id}}</a>
                {% endfor %}
            </ul>
        </div>
        <br/>
        <br/>

 


    </div>

</main>

{% endblock %}