<h1>LOGIN</h1>

{{ error }}
<form method="POST" action="{% url 'login' %}">
    <!-- protect website from some form of attack -->
    {% csrf_token %} 
    Username:
    <br/>
    <input type="text" name="username" />
    <br/>
    Password:
    <br/>
    <input type="password" name="password" />
    <br />
    <br/>
    <input type="submit" value="Login!" />
    <br/>
    </form>

    <form method="GET" action="{% url 'signup' %}" class="btn btn-dark col-md-6">
        <button type="submit" class="border-0 col-md-12 btn-dark">Sign Up</button>
    </form>
</form>